Repository Nucleo42/nucleo42-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint, npm run test:staged

chore: update SVG file paths
  public/icons/chevron.svg
  public/icons/filter.svg
  public/icons/menu-burger.svg
  public/icons/search.svg
  public/icons/xMark.svg
Due: none

fix(filter): correct data-category attributes for Status and OpenJob checkboxes
  src/app/components/filter/filter.component.html
Due: npm run format

refactor: adjust filter container header styles for better layout
  src/app/components/filter/filter.component.scss
Due: npm run format

refactor: switch to mat-icon for search and chevron buttons
  src/app/components/nav-bar/nav-bar.component.html
  src/app/components/nav-bar/nav-bar.component.ts
Due: npm run format, npm run lint, npm run test:staged

feat(filter): implement NGXS state management for checkbox filters
  src/app/components/filter/filter.component.ts
Due: npm run format, npm run lint, npm run test:staged

refactor: remove unused NavBarComponent import
  src/app/pages/project-list/project-list.component.ts
Due: npm run format, npm run lint, npm run test:staged

refactor: rename classes for filter button and close button icons
  src/app/components/filter/filter.component.html
  src/app/components/filter/filter.component.scss
Due: npm run format

refactor(filter): adjusts overflow for specific vertical control
  src/app/components/filter/filter.component.html
  src/app/components/filter/filter.component.scss
Due: npm run format

refactor: unify button styles for menu burger and close button
  src/app/components/menu-burger/menu-burger.component.scss
Due: npm run format

refactor: simplify header styles by moving box-shadow
  src/app/components/header/header.component.scss
Due: npm run format

fix(filter-project): correct types in actions to resolve ESLint errors
  src/app/state/filter-project/filter-project.action.ts
  src/app/state/filter-project/filter-project.model.ts
Due: npm run format, npm run lint, npm run test:staged

feat: add the resetFilters function to the button with the reset-button class
  src/app/components/filter/filter.component.html
Due: npm run format

refactor: simplify and enhance nav-bar styles for better responsiveness
  src/app/components/nav-bar/nav-bar.component.scss
Due: npm run format

chore: update Angular logo icon path
  public/icone-angular.ico
Due: none

feat(state): add filter project models
  src/app/state/filter-project/filter-project.model.ts
Due: npm run format, npm run lint, npm run test:staged

feat(project-list): implement project loading with NGXS state management
  src/app/pages/project-list/project-list.component.ts
Due: npm run format, npm run lint, npm run test:staged

feat(project-list): implement dynamic loading with UI states and pagination
  src/app/pages/project-list/project-list.component.html
  src/app/pages/project-list/project-list.component.ts
Due: npm run format, npm run lint, npm run test:staged

refactor(project-card): update component to use dynamic project data and stack icons
  src/app/components/project-card/project-card.component.html
Due: npm run format

style(project-card): add styling for stack icon images
  src/app/components/project-card/project-card.component.scss
Due: npm run format

refactor(project-card): convert to dynamic component with input binding
  src/app/components/project-card/project-card.component.ts
Due: npm run format, npm run lint, npm run test:staged

feat(routing): add lazy loaded route for project list component
  src/app/app.routes.ts
Due: npm run format, npm run lint, npm run test:staged

test(routing): update tests to verify lazy loaded project route
  src/app/app.route.spec.ts
Due: npm run format, npm run lint, npm run test:staged

feat: add project interfaces (IProject, IProjectCreateRequest, IUser, etc)
  src/app/interfaces/IProject.ts
  src/app/interfaces/IProjectCreateRequest.ts
  src/app/interfaces/IProjectMember.ts
  src/app/interfaces/IRole.ts
  src/app/interfaces/ISkill.ts
  src/app/interfaces/ITechnology.ts
  src/app/interfaces/IUser.ts
Due: npm run format, npm run lint, npm run test:staged

feat: add IProjectResponse interface and ProjectStateModel class
  src/app/interfaces/IProjectResponse.ts
  src/app/interfaces/ProjectStateModel.ts
Due: npm run format, npm run lint, npm run test:staged

Path conditions:
  npm run format: any of: **/*.{ts,js,mjs,md,json,scss,html}
  npm run lint: any of: *.ts
  npm run test:staged: any of: *.ts
