Repository Nucleo42/nucleo42-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint

chore: adjust included files on tsconfig.spec.json
  tsconfig.spec.json
Due: npm run format

chore: remove unnecessary file
  tsconfig.test.json
Due: npm run format

chore: keep tests folder
  tests/.gitkeep
Due: none

chore: adjusts Jest test library configuration
  jest-integration-config.js
  jest-unit-config.js
  jest.config.js
Due: npm run format

chore: add jest config files to eslint ignored files
  eslint.config.mjs
Due: npm run format

chore: adjusts Jest scripts
  package-lock.json
  package.json
Due: npm run format

chore: add permission to execute hooks
  package.json
Due: npm run format

chore: add pre-push git hook
  hooks/pre-push
Due: none

chore: add test:staged script to lint-staged config
  .lintstagedrc.json
Due: npm run format

chore: add .vscode/settings.json
  .vscode/settings.json
Due: npm run format

ci: adds accessibility-alt-text-bot workflow
  .github/workflows/accessibility-alt-text.yml
Due: none

ci: adds tests workflow
  .github/workflows/tests.yml
Due: none

chore: update settings.json
  .vscode/settings.json
Due: npm run format

chore: configure path aliases
  eslint.config.mjs
  jest.config.js
  package-lock.json
  package.json
  tsconfig.json
Due: npm run format

chore: add @ngxs/store and its plugins
  package-lock.json
  package.json
  src/app/app.config.ts
Due: npm run format, npm run lint

chore: add IBaseStateModel
  src/app/state/models/base-state-model.ts
Due: npm run format, npm run lint

chore: add eslint
  package-lock.json
  package.json
Due: npm run format

chore: adjusts tests scripts
  package.json
Due: npm run format

chore: remove unnessary dependency
  package.json
Due: npm run format

ci: change test workflow to run in any pull request
  .github/workflows/accessibility-alt-text.yml
  .github/workflows/tests.yml
Due: none

chore: remove unnecessary dependency
  eslint.config.mjs
  package-lock.json
  package.json
Due: npm run format

feat: created login screen / added angular material / created login route
  package-lock.json
  package.json
  public/github.png
  public/google.png
  src/app/app.component.html
  src/app/app.routes.ts
  src/app/pages/login/login.component.html
  src/app/pages/login/login.component.scss
  src/app/pages/login/login.component.spec.ts
  src/app/pages/login/login.component.ts
  src/index.html
  src/styles.scss
Due: npm run format, npm run lint

feat(register): implement registration page with form validation
  public/mask_group.png
  src/app/app.routes.ts
  src/app/pages/register/register.component.html
  src/app/pages/register/register.component.scss
  src/app/pages/register/register.component.spec.ts
  src/app/pages/register/register.component.ts
Due: npm run format, npm run lint

chore: add test files to tsconfig exclude list
  tsconfig.json
Due: npm run format

refactor(login): improve code structure without changing functionality
  src/app/pages/login/login.component.html
  src/app/pages/login/login.component.spec.ts
  src/app/pages/login/login.component.ts
Due: npm run format, npm run lint

feat: add button component
  src/app/components/button/button.component.html
  src/app/components/button/button.component.scss
  src/app/components/button/button.component.spec.ts
  src/app/components/button/button.component.ts
Due: npm run format, npm run lint

feat: add header component
  src/app/components/header/header.component.html
  src/app/components/header/header.component.scss
  src/app/components/header/header.component.spec.ts
  src/app/components/header/header.component.ts
Due: npm run format, npm run lint

feat: add layout component
  src/app/components/layout/layout.component.html
  src/app/components/layout/layout.component.scss
  src/app/components/layout/layout.component.spec.ts
  src/app/components/layout/layout.component.ts
Due: npm run format, npm run lint

feat: add footer component
  src/app/components/footer/footer.component.html
  src/app/components/footer/footer.component.scss
  src/app/components/footer/footer.component.spec.ts
  src/app/components/footer/footer.component.ts
Due: npm run format, npm run lint

refactor: changes route config
  src/app/app.routes.ts
Due: npm run format, npm run lint

refactor: add layout test purposes
  src/app/app.component.html
  src/app/app.component.ts
Due: npm run format, npm run lint

chore: add new dependencies
  angular.json
  src/app/app.config.ts
  tsconfig.json
Due: npm run format, npm run lint

feat(ngxs): add login state management and token storage
  src/app/app.config.ts
  src/app/pages/login/login.component.spec.ts
  src/app/pages/login/login.component.ts
  src/app/state/auth/auth.action.ts
  src/app/state/auth/auth.model.ts
  src/app/state/auth/auth.service.ts
  src/app/state/auth/auth.state.ts
Due: npm run format, npm run lint

chore(config): update ESLint and TypeScript configs for test compatibility
  eslint.config.mjs
  tsconfig.spec.json
Due: npm run format

chore(tests): implemented test!
  src/app/state/auth/auth.service.spec.ts
  src/app/state/auth/auth.service.ts
  src/app/state/auth/auth.state.spec.ts
Due: npm run format, npm run lint

feat(register-state): implement NGXS state and tests for Register component
  src/app/app.routes.ts
  src/app/pages/register/register.component.html
  src/app/pages/register/register.component.spec.ts
  src/app/pages/register/register.component.ts
  src/app/state/user/registerUser/register.actions.ts
  src/app/state/user/registerUser/register.models.ts
  src/app/state/user/registerUser/register.state.spec.ts
  src/app/state/user/registerUser/register.states.ts
  src/app/state/user/user.service.ts
Due: npm run format, npm run lint

test(userService): implement unit tests for user service methods
  src/app/state/user/user.service.spec.ts
  src/app/state/user/user.service.ts
Due: npm run format, npm run lint

feat: add svg icons
  public/icons/discordIcon.svg
  public/icons/gitHubIcon.svg
  public/icons/linkedInIcon.svg
  public/icons/twitterIcon.svg
Due: none

refactor: creates footer with svg icons
  src/app/components/footer/footer.component.html
  src/app/components/footer/footer.component.scss
  src/app/components/footer/footer.component.spec.ts
  src/app/components/footer/footer.component.ts
Due: npm run format, npm run lint

chore: add dev dependencies configs
  angular.json
  tsconfig.app.json
  tsconfig.json
Due: npm run format

Path conditions:
  npm run format: any of: **/*.{ts,js,mjs,md,json,scss,html}
  npm run lint: any of: *.ts
