Repository Nucleo42/nucleo42-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint, npm run test:staged

.lintstagedrc.json:

{
  "**/*.{ts,js,mjs,md,json,scss,html}": ["npm run format"],
  "*.ts": ["npm run lint", "npm run test:staged"]
}

refactor: simplify filter component structure
  src/app/components/filter/filter.component.html
Due: npm run format

refactor: rename "filter-component" to "filter-container"
  src/app/components/filter/filter.component.html
Due: npm run format

refactor: change the name of the classes that have __component to __container
  src/app/components/nav-bar/nav-bar.component.html
Due: npm run format

refactor: refactor: simplify project list structure and rename classes
  src/app/pages/project-list/project-list.component.html
Due: npm run format

feat: add sticky positioning to layout header
  src/app/components/layout/layout.component.scss
Due: npm run format

refactor: change the name of the filter-header class to filter-component__header
  src/app/components/filter/filter.component.scss
Due: npm run format

refactor: change the name of the classes that have __component to __container
  src/app/components/filter/filter.component.scss
Due: npm run format

feat: add menu-burger__button adjustments for small screens
  src/app/components/menu-burger/menu-burger.component.scss
Due: npm run format

refactor: rename ProjectListComponent selector
  src/app/pages/project-list/project-list.component.ts
Due: npm run format, npm run lint, npm run test:staged

refactor: simplify header styles by moving box-shadow
  src/app/components/header/header.component.scss
Due: npm run format

refactor: simplify and enhance nav-bar styles for better responsiveness
  src/app/components/nav-bar/nav-bar.component.scss
Due: npm run format

refactor: simplify and enhance project list layout for better responsiveness
  src/app/pages/project-list/project-list.component.scss
Due: npm run format

refactor: remove unused imports from the menu-burger, nav-bar and project-list components
  src/app/components/menu-burger/menu-burger.component.scss
  src/app/components/nav-bar/nav-bar.component.scss
  src/app/pages/project-list/project-list.component.scss
Due: npm run format

refactor: adjust filter container header styles for better layout
  src/app/components/filter/filter.component.scss
Due: npm run format

refactor: simplify divider styles using Sass extend
  src/app/components/filter/filter.component.scss
Due: npm run format

refactor: rename project list component class to project-list__grid
  src/app/pages/project-list/project-list.component.html
  src/app/pages/project-list/project-list.component.scss
Due: npm run format

refactor: simplify project list structure by removing unnecessary div
  src/app/pages/project-list/project-list.component.html
Due: npm run format

refactor: remove unused NavBarComponent import
  src/app/pages/project-list/project-list.component.ts
Due: npm run format, npm run lint, npm run test:staged

refactor: unify button styles for menu burger and close button
  src/app/components/menu-burger/menu-burger.component.scss
Due: npm run format

chore: update SVG file paths
  public/icons/chevron.svg
  public/icons/filter.svg
  public/icons/menu-burger.svg
  public/icons/search.svg
  public/icons/xMark.svg
Due: none

chore: update Angular logo icon path
  public/icone-angular.ico
Due: none

refactor: switch to mat-icon for filter and close buttons
  src/app/components/filter/filter.component.html
  src/app/components/filter/filter.component.ts
Due: npm run format, npm run lint, npm run test:staged

refactor: rename classes for filter button and close button icons
  src/app/components/filter/filter.component.html
  src/app/components/filter/filter.component.scss
Due: npm run format

refactor: switch to mat-icon for menu burger and close buttons
  src/app/components/menu-burger/menu-burger.component.html
  src/app/components/menu-burger/menu-burger.component.ts
Due: npm run format, npm run lint, npm run test:staged

refactor: switch to mat-icon for search and chevron buttons
  src/app/components/nav-bar/nav-bar.component.html
  src/app/components/nav-bar/nav-bar.component.ts
Due: npm run format, npm run lint, npm run test:staged

refactor: add class to chevron icon for styling
  src/app/components/nav-bar/nav-bar.component.html
  src/app/components/nav-bar/nav-bar.component.scss
Due: npm run format

refactor: change the font-family of the close-button component to variable $font
  src/app/components/filter/filter.component.scss
Due: npm run format

refactor(filter): adjusts overflow for specific vertical control
  src/app/components/filter/filter.component.html
  src/app/components/filter/filter.component.scss
Due: npm run format

feat(filter): add resetFilters function to uncheck all checkboxes
  src/app/components/filter/filter.component.ts
Due: npm run format, npm run lint, npm run test:staged

fix(style): correct incorrect URL in background-image in custom-checkbox::before class
  src/app/components/filter/filter.component.scss
Due: npm run format

style: add its unique stylization to the close-button__icon class
  src/app/components/filter/filter.component.scss
Due: npm run format

style(ui): adjusts styling to align with wireframe
  src/app/components/filter/filter.component.scss
Due: npm run format

feat: add the resetFilters function to the button with the reset-button class
  src/app/components/filter/filter.component.html
Due: npm run format

chore: setup jest to fail if tests not cover 90%
  jest.config.js
Due: npm run format

chore: change test coverage from 90% to 70%
  .github/workflows/tests.yml
  jest.config.js
Due: npm run format

feat: add the card-project component
  src/app/components/project-card/project-card.component.html
  src/app/components/project-card/project-card.component.scss
  src/app/components/project-card/project-card.component.ts
Due: npm run format, npm run lint, npm run test:staged

chore: add the icons from the svg project-list page to the assets folder
  src/assets/icone-angular.ico
  src/assets/svg/chevron.svg
  src/assets/svg/filter.svg
  src/assets/svg/menu-burger.svg
  src/assets/svg/search.svg
  src/assets/svg/xMark.svg
Due: none

feat: add nav-bar component
  src/app/components/nav-bar/nav-bar.component.html
  src/app/components/nav-bar/nav-bar.component.scss
  src/app/components/nav-bar/nav-bar.component.ts
Due: npm run format, npm run lint, npm run test:staged

refactor: remove unused fontawesome import
  src/app/components/filter/filter.component.scss
Due: npm run format

feat: add configuration for assets and outputPath
  angular.json
  src/index.html
Due: npm run format
