Repository Nucleo42/nucleo42-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint, npm run test:staged

refactor: add providerHttp to use MatIconRegistry
  src/main.ts
Due: npm run format, npm run lint, npm run test:staged

refactor: add montserrat font
  src/index.html
Due: npm run format

refactor: add basic css reset
  src/styles.scss
Due: npm run format

fix: fix css mobile responsive
  src/app/components/footer/footer.component.html
  src/app/components/footer/footer.component.scss
Due: npm run format

refactor: remove comments
  src/app/components/footer/footer.component.spec.ts
Due: npm run format, npm run lint, npm run test:staged

refactor: remove comments
  src/app/app.component.html
  src/app/app.component.ts
Due: npm run format, npm run lint, npm run test:staged

refactor: change class name
  src/app/components/header/header.component.html
  src/app/components/header/header.component.scss
Due: npm run format

refactor: remove comments
  src/app/components/header/header.component.spec.ts
Due: npm run format, npm run lint, npm run test:staged

chore: code adjustments and improvements in test organizatio
  src/app/pages/login/login.component.ts
  src/app/pages/register/register.component.spec.ts
  src/app/state/auth/auth.state.spec.ts
  src/app/state/auth/auth.state.ts
Due: npm run format, npm run lint, npm run test:staged

refactor: change text
  src/app/components/footer/footer.component.html
Due: npm run format

test: add handleClick test
  src/app/components/footer/footer.component.spec.ts
  src/app/components/footer/footer.component.ts
Due: npm run format, npm run lint, npm run test:staged

refactor: remove comments
  src/app/app.component.ts
Due: npm run format, npm run lint, npm run test:staged

test: add config test
  src/app/app.config.spec.ts
Due: npm run format, npm run lint, npm run test:staged

test: add route test
  src/app/app.route.spec.ts
Due: npm run format, npm run lint, npm run test:staged

refactor: change px to rem
  src/app/components/layout/layout.component.scss
Due: npm run format

chore: setup jest to fail if tests not cover 100%
  jest.config.js
Due: npm run format

ci: adjusts test pipeline to check test coverages
  .github/workflows/tests.yml
Due: none

ci: adjusts text messages
  .github/workflows/tests.yml
Due: none

refactor: remove unnecessary scss file
  src/app/app.component.scss
  src/app/app.component.ts
Due: npm run format, npm run lint, npm run test:staged

test: ensures that AppComponent has 100% test coverage
  src/app/app.component.spec.ts
Due: npm run format, npm run lint, npm run test:staged

chore: add the icons from the svg project-list page to the assets folder
  src/assets/icone-angular.ico
  src/assets/svg/chevron.svg
  src/assets/svg/filter.svg
  src/assets/svg/menu-burger.svg
  src/assets/svg/search.svg
  src/assets/svg/xMark.svg
Due: none

feat: add the card-project component
  src/app/components/project-card/project-card.component.html
  src/app/components/project-card/project-card.component.scss
  src/app/components/project-card/project-card.component.ts
Due: npm run format, npm run lint, npm run test:staged

feat: add nav-bar component
  src/app/components/nav-bar/nav-bar.component.html
  src/app/components/nav-bar/nav-bar.component.scss
  src/app/components/nav-bar/nav-bar.component.ts
Due: npm run format, npm run lint, npm run test:staged

feat: add configuration for assets and outputPath
  angular.json
  src/index.html
Due: npm run format

feat: add menu-burger component
  src/app/components/menu-burger/menu-burger.component.html
  src/app/components/menu-burger/menu-burger.component.scss
  src/app/components/menu-burger/menu-burger.component.ts
Due: npm run format, npm run lint, npm run test:staged

feat: add filter component
  src/app/components/filter/filter.component.html
  src/app/components/filter/filter.component.scss
  src/app/components/filter/filter.component.ts
Due: npm run format, npm run lint, npm run test:staged

feat: add project-list page
  src/app/components/pages/project-list/project-list.component.html
  src/app/components/pages/project-list/project-list.component.scss
  src/app/components/pages/project-list/project-list.component.ts
Due: npm run format, npm run lint, npm run test:staged

refactor: remove comment
  src/app/app.component.html
Due: npm run format

refactor: remove twitter
  public/icons/twitterIcon.svg
  src/app/components/footer/footer.component.html
  src/app/components/footer/footer.component.ts
Due: npm run format, npm run lint, npm run test:staged

test: achieve 100% coverage
  src/app/components/footer/footer.component.spec.ts
Due: npm run format, npm run lint, npm run test:staged

refactor: change the path of the project-list page from @app/components/pages for @app/pages
  src/app/pages/project-list/project-list.component.html
  src/app/pages/project-list/project-list.component.scss
  src/app/pages/project-list/project-list.component.ts
Due: npm run format, npm run lint, npm run test:staged

refactor: rename icons
  public/icons/discord.svg
  public/icons/github.svg
  public/icons/linkedin.svg
  src/app/components/footer/footer.component.ts
Due: npm run format, npm run lint, npm run test:staged

style: add overflow-x hidden to body in styles.scss
  src/styles.scss
Due: npm run format

chore: update import path for ProjectCardComponent, NavBarComponent and FilterComponent
  src/app/pages/project-list/project-list.component.ts
Due: npm run format, npm run lint, npm run test:staged

chore: add wrapper div to nav-bar components
  src/app/components/nav-bar/nav-bar.component.html
Due: npm run format

refactor: simplify nav-bar structure by removing unnecessary div
  src/app/components/nav-bar/nav-bar.component.html
Due: npm run format

refactor: rename class "menu-burger__button" to "close-button"
  src/app/components/menu-burger/menu-burger.component.html
Due: npm run format

refactor: remove unused fontawesome import
  src/app/components/filter/filter.component.scss
Due: npm run format

refactor: rename the filter component header
  src/app/components/filter/filter.component.html
Due: npm run format

Path conditions:
  npm run format: any of: **/*.{ts,js,mjs,md,json,scss,html}
  npm run lint: any of: *.ts
  npm run test:staged: any of: *.ts
